*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5)0%,rgba(0,0,0,0.5)0%), url(./1.jpg);
    background-size: cover;
    background-position: center;
    
}
.container .navbar{
    position: relative;
    /* display: flex; */
    /* justify-items: center; */
    width: 100%;
    height: 100px;
    /* background-color: red; */


}
.container .navbar .logo{
    position: absolute;
    color: #fff;
    top: 20px;
    right: 1440px;
    /* padding: 10px; */
    font-size: 1.5em;
    
}

.container .navbar ul{
    position: absolute;
    margin: 15px;
    padding: 10px;
    right: 450px;
    top: 0;
}
.container .navbar ul li{
   display: inline-block;
   padding: 10px;
   margin-right:20px ;
   position: relative;
}
.container .navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.5s;
}
.container .navbar ul li a::after{
    content: "";
    height: 3px;
    width: 00%;
    background-color:rgb(169, 125, 44) ;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}
.container .navbar ul li a:hover::after{
    width: 100%;
    /* font-size: 1.5em; */
}
.container .navbar ul li a:hover{
    font-size: 1.3em;
    color:rgb(169, 125, 44)
}
.container .navbar .search{
    position: absolute;
    top: 20px;
    padding: 20px;
    right: 50px;
    /* background-color: red; */
    width: 385px;
    height: 100px;
    padding: 0;
    margin: 0;
    /* border-radius: 30px; */
    /* overflow: hidden; */
    /* opacity: 0.1; */
    /* border: 1px solid orange; */
    /* background: transparent; */
    
    
}
.container .navbar .search input{
    width: 300px;
    height: 50px;
    margin: 0;
    padding: 0;
    background: transparent;
    color: #fff;
    border: 1px solid rgb(169, 125, 44);
    border-right: none;
    /* border-radius: 20px; */
    border-bottom-left-radius:10px ;
    border-top-left-radius: 10px;
    
}

.container .navbar .search button{

    width: 80px;
    height: 55px;
    border-left: none;
   /* text-align: center; */
    background: orange;
    /* margin-top: 1px; */
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    color: white;
    transition: 0.5s ease;
}
.container .navbar .search button:hover{
     color: black;
}
.container .bottom{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.container .bottom .form{
    position: absolute;
    width: 300px;
    height: 400px;
    opacity: 0.7;
    background-color: black;
    right: 200px;
    top: 80px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}
.container .bottom .form form table{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    
}
.container .bottom .form form table th{
    height: 30px;
    color: #fff;
    padding: 20px;
    margin: 30px;
    font-weight: 600;
}
.container .bottom .form form table tr{
    height: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    left: 20px;
    font-size: 1.4em;
    
}
.container .bottom .form form table tr input{
    margin-left: 0px;
    width: 100%;
    background: transparent;
    height: 40px;
    border: none;
    border-bottom: 2px solid rgb(169, 125, 44) ;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 600;
}
.container .bottom .form form table tr button{
    width: 100%;
    height: 50px;
    background:rgb(169, 125, 44) ;
    opacity: 1;
    color: #fff;
    font-size: 1em;
    transition: 0.5s ease;
    cursor: pointer;
    font-weight: 600;
}
.container .bottom .form form table tr button:hover{
    color: black;
    background-color: orange;
}
.container .bottom .form p{
    margin-left: 40px;
    color: #fff;
}
.container .bottom .form span{
    position: relative;
    margin-left:30px ;
    font-weight: 600;
    color: orange;
    /* background-color: aqua; */
    cursor: pointer;
    transition: 0.5s;
}
.container .bottom .form span:hover{
    color: orange;
    font-size: 1.2em;
    opacity: 1;
}
.container .bottom .text{
    position: absolute;
    right: 1050px;
    /* background-color: aqua; */
    width: 500px;
    height: 500px;
    padding: 30px;
    padding-top: 50px;
}
.container .bottom .text h2{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 40px;
}
.container .bottom .text h2 span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: orange;
    transition: 0.5s;
    line-height: 1em;
    letter-spacing: 1px;
}
.container .bottom .text p{
    color: #ffff;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 1px;
}
.container .bottom .text h2 span:hover{
    font-size: 1.8em;
    letter-spacing: 1.5px;
}


